<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard - Admin Panel</title>
  </head>
  <body class="bg-blue-400">
    <main class="flex justify-center items-center h-screen">
      <div class="bg-white w-2/4 flex flex-col gap-4 px-16 py-8 rounded-md">
        <div class="flex flex-row justify-between">
          <h1 class="text-4xl">Welcome back, %%{props.name}%%.</h1>
          <button
            id="logout-button"
            class="text-1xl px-4 py-2 rounded-md bg-red-500 text-white max-w-24"
          >
            Logout
          </button>
        </div>
        
        <form>
          <input type="search" name="search"/>
        </form>        

        <h2 class="text-2xl">Search Restaurants:</h2>
        
        <form action="/dashboard" class="flex flex-row gap-4">
          <input type="search" name="search" placeholder="search here..." class="border border-slate-400 rounded-md p-4 w-full" value="%%{props.search || ''}%%"/>    
          <button type="submit" class="bg-black text-white px-8 py-4 rounded-md">Search</button>          
        </form>

        <div class="block relative max-h-96 overflow-scroll">
          <table class="w-full border-collapse border border-slate-400 text-1xl text-white"> 
            <thead class="border sticky top-0 bg-slate-700">
              <tr class="">
                <th class="border w-1/5 border-slate-400 p-4 ">Name</th>
                <th class="border w-1/5 border-slate-400 p-4 ">Borough</th>
                <th class="border w-1/5 border-slate-400 p-4 ">Cuisine</th>
                <th class="border w-1/5 border-slate-400 p-4 ">Address</th>
                <th class="border w-1/5 border-slate-400 p-4 ">Grade</th>
              </tr>
            </thead>
            <tbody class="border bg-slate-200 text-black">
              %%{props.rows.map(row => `<tr><td class="border border-slate-400 p-4">${row.name}</td><td class="border border-slate-400 p-4">${row.borough}</td><td class="border border-slate-400 p-4">${row.cuisine}</td><td class="border border-slate-400 p-4">${row.address.street}</td><td class="border border-slate-400 p-4">${row.grades.map(x => x.grade).join(', ')}</td></tr>`)}%%
            </tbody>
          </table>        
        </div>

        %%{props.search && props.rows.length <= 0 ? '<p>No Search results found</p>': ''}%%
      </div>
    </main>

    <script>
      document
        .querySelector('#logout-button')
        .addEventListener('click', (e) => {
          fetch('/api/v1/logout')
            .then((res) => {
              //=> Remove user from storage
              window.localStorage.removeItem('user')

              //=> Reload the page
              window.location.reload()
            })
            .catch((err) => alert(`Error occured, ${err.message}`))
        })
    </script>
  </body>
</html>
